<h1 style="font-size: 16px">
  Nouvelle organisation (<%= @organization_id %>)
</h1>

<table style="width: 100%">
  <tr>
    <th style="text-align: right">Nom :</th>
    <td><%= @name %></td>
  </tr>
  <tr>
    <th style="text-align: right">Usage :</th>
    <td><%= @api_usage_type %></td>
  </tr>
  <tr>
    <th style="text-align: right">Email :</th>
    <td><%= @email %></td>
  </tr>
</table>
