<section class="route">
<!--  <p><%#= t(:route, scope: :apitome) %></p>-->
<!--  <small>Request example</small>-->
  <pre><%= "#{request["request_method"]} #{request["request_path"]}" %></pre>
</section>