<p>
  Salut <%= @user.first_name %>,
</p>
<p>
  Je t'ai ajouté comme gestionnaire de <%= @gym.name %> !<br>
  Tu devrais voir apparaître un item 'Mes Salles' avec <%= @gym.name %> dans le menu d'Oblyk.
</p>
<p>
  Avant de te lancer dans la création de ton topo, je t'invite à lire en diagonal la documentation qui t'explique comment faire <cite>(comme ça tu auras une idée de comment on gère la difficulté, les espaces, secteurs, etc.)</cite>
</p>
<p>
  La documentation 👉 <a href="https://oblyk.github.io/app-user-doc/docs/indoor/">https://oblyk.github.io/app-user-doc/docs/indoor/</a>
</p>
<p>
  La partie indoor d'Oblyk est encore en "Beta" ce qui signifie qu'il peut y avoir des bugs ou des fonctionnalités manquantes.
</p>
<p>
  Pour toutes actions sur ton topo indoor, que ce soit : créer, modifier ou visualiser, rends-toi sur le dashboard de ta salle :
</p>
<p style="text-align: center">
  <a
    href="<%= @gym.admin_app_path %>"
    style="background-color: #31994e; color: white; padding: 7px 12px; text-decoration: none; border-radius: 5px; display: inline-block; font-weight: bold"
  >
    MON DASHBOARD
  </a>
</p>
<p>
  N'hésite pas à me faire des retours si tu ne comprends pas certaines sections, que tu rencontres des bugs ou qu'il te manque des fonctionnalités.<br>
</p>
<p>
  Je te souhaite une bonne découverte de cette partie d'Oblyk 🙂<br>
  À bientôt.
</p>
<p>
  Lucien<br>
  Fondateur et développeur d'Oblyk.org
</p>
